<html ng-app="myApp">
<head>
  <title>Controlling Users</title>
  <script src='bower_components/angular/angular.js'></script>
  <script type='text/javascript'>
    var myApp = angular.module('myApp', []);
    myApp.controller('usersController', ['$scope', function ($scope){
        $scope.users = [
            {firstname: 'Carmen', lastname: 'Figueroa', favoritelanguage: 'JavaScript'}
        ];

        $scope.addUser = function (){
        $scope.users.push($scope.newUser)
        };

        $scope.remove = function(user) {
          var index = $scope.users.indexOf(user);
          console.log(index)
          $scope.users.splice(index, 1);
        };

    }])
  </script>
</head>
<body>
    <div ng-controller='usersController'>
      <form>
        First Name: <input type='text' ng-model='newUser.firstname'><br>
        Last Name: <input type='text' ng-model='newUser.lastname'><br>
        Favorite Language: <input type='text' ng-model='newUser.favoritelanguage'><br>
        <input type='submit' value='Add New User' ng-click='addUser()'>
      </form>
      <br>
      <br>
      <br>
      Search Friends: <input type="text" ng-model="filter_name">
      <br>
      <br>
      <table >
        <tr>
          <th>First Namey</th>
          <th>Last Name</th>
          <th>Fav. Language</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="user in users | filter:filter_name ">
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.favoritelanguage | uppercase }}</td>
          <td><input type='submit' value='Delete' ng-click='remove(user)'></td>
        </tr>
      </table>
    </div>
</body>
</html>
