<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Full Stack Books</title>
  </head>
  <body>
    <h1>Books</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.category }}</td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <br>
    <form action='/addbook' method='post'>
      {% csrf_token %}
      Title: <input type='text' name='title'>
      <br>
      Author: <input type='text' name="author">
      <br>
      Category: <input type='text' name="category">
      <br>
      <input type='submit' value='submit'>
    </form>
  </body>
</html>
