<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h2>Submitted Information:</h2>

    <h3>Name: <%= infotemp.name %></h3>
    <h4>Dojo Location: <%= infotemp.dojolocation %></h4>
    <h4>Favorite Language: <%= infotemp.favoritelanguage %></h4>
    <h4>Comment: <%= infotemp.comment %></h4>
    <hr>

  </body>
</html>
