<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <form action='/inputsurvey' method='post'>
      {% csrf_token %}
      Name: <input type='text' name='name'>
      <br>
      Dojo Location:
      <select name="dojo_location">
        <option value="washingtondc">Washington, DC</option>
        <option value="chicago">Chicago, IL</option>
        <option value="sanfrancisco">San Francisco, CA</option>
        <option value="newyork">New York, NY</option>
      </select>
      <br>
      Favorite Language:
      <select name="favorite_language">
        <option value="javascript">Javascript</option>
        <option value="python">Python</option>
        <option value="ruby">Ruby</option>
        <option value="c++">C++</option>
      </select>
      <br>
      Comments(optional): <input type='text' name="comments" class="input">
      <input type='submit' value='submit'>
    </form>
  </body>
</html>
