<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets</title>
  </head>
  <body>
    {% if currentUser %}
    <h1>Hello, {{currentUser.firstname}}</h1>
    {% else %}
    <h1>Hello</h1>
    {% endif %}
    <form action='/postsecret' method='POST'>
      {% csrf_token %}
      <input type="text" name="postsecret" value="Your Secret Here...">
      <br>
      <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/popular">Most Popular Secrets</a>
    <br>
    <br>
    <h1>Recent Secrets...</h1>
    <br>
    {% if secrets and currentUser %}
      {% for secret in secrets %}
      <h3>{{secret.secret}} posted: ({{secret.created_at|timesince}} ago)</h3>
        {% if secret.information == currentUser %}
        <h4>{{currentUser.firstname}} posted this <a href="/delete/{{secret.id}}">Delete</a></h4>
        {% else %}
        <p>{{secret.like_by.all.count}} people liked this.</p>
        {% if currentUser not in secret.like_by.all %}
          <a href="/like/{{secret.id}}">Like</a>
        {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    <br>
    <br>
    <br>
    {{secrets.information}}
    {{currentUser}}
  </body>
</html>
