<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tiger Assignment</title>
  </head>
  <body>
    <% for (var i = 0; i < tiger.length; i++) { %>
        Name: <%= tiger[i].name %><br>
        Height: <%= tiger[i].height %><br>
        Weight: <%= tiger[i].weight %><br>
        Location: <%= tiger[i].location %><br>
        <p>_______________________________</p>
    <% } %>
  </body>
</html>
